@media all and (min-width: 992px) {
    .header {
        padding: 0;
        display: flex;
        flex-direction: row;

    }

    .nav > ul {
        display: flex;
        flex-direction: row;

    }
}

@media all and (min-width: 576px){
    .main{
        font-size: small;

    }

    .header{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav > ul {
        flex-direction: column;
    }
    .img{
        max-width: 50%;
        height: auto;
        vertical-align: middle;
    }
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
    background-color: #fff;
    color: black;
    margin: auto;
}

main{
    flex:1;
    font-family: Verdana;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

}

header{
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 1.33333em;
    padding-top: 1.33333em;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;

}

h1 {

    font-family: Verdana;
    text-align: center;
    color: indianred;
}

h2{
    text-align: center;
    color: darkslategray;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.about-me{
    width: 100%;
    height: auto;
}

i{
    color: indianred;
}

p{
    padding-right: 10px;
    padding-left: 10px;
    color: darkslategray;
    text-align: justify;
}

/*Nav principale*/
nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 ;
    color: indianred;
}

li{
    border-right: 1px solid crimson;
    height: 40px;
}

li:last-child{
    border-right: none;
}

li a{
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
}

/*Nav Blog*/

.nav-blog{
    border-right: none;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    font-size: smaller;
}

.book > li{
    display: flex;
    flex-direction: column;
    border-right: none;
}

.div-article-header{
    padding: 0 0 10px;
    text-align: center;
}

.nav-blog{
    display: flex;
    padding: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: indianred;
    text-align: center;
    text-decoration: none;
}

nav{
    justify-content: space-around;
    border-left: 0;
}

a {
    text-decoration: none;
    color: crimson;
}

a:hover {
    color: darkslategray;
}

.read-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 15%;
    margin-bottom: 40px;


}

 .read-more-link {
    padding: 7px 22px 5px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid darkslategray;
    align-items: center;
    text-decoration: none;
    color: darkslategray;
}


footer >p{
    font-family: Verdana;
    font-size: 0.8em;
    text-align: center;
    background-color: #fff;
}